.comboboxpos{
    margin: 0px 200px 30px 550pX;
}

.comp{
    background-color:white;
    font-size: 20px;
}

.comboboxfont{
    margin-left: 20px;
}


.title{
    color:black;
    text-align: center;
    font-size: 35px;
}

.scrollstyle{
    overflow-y:scroll ;
    height:450px;
    text-align: left;
    background-color: whitesmoke;
    margin: 0px 300px 0px 300px;
    padding-left: 30px;
}


.butt {
    background-color: #f85103;;
    border: none;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 8px 80px;
    cursor: pointer;
}

