.comboboxpos{
    margin: 30px 200px 30px 550pX;
}

.comp{
    background-color:white;
    font-size: 20px;
}
.comboboxfont{
    margin-left: 20px;
}


.title{
    color: #f85103;
    text-align: center;
}

.scrollstyle{
    overflow-y:scroll ;
    height:450px;
    text-align: left;
    background-color: whitesmoke;
    margin: 0px 300px 0px 300px;
    padding-left: 30px;
}

.comrow{
    margin-right: 20px;
    height:40px;
    width: 900px;
    padding-right: 40px;
}

