
.container {
    display: grid;
    grid: 150px / auto auto auto;
    grid-gap: 10px;
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    margin: 100px auto 0;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.itemax2 {
  grid-column-start: 6;
  display:flex;
}

.itemax5{
  grid-column-start: 5;
  display:flex;
}

.itemax7{
  grid-column-start: 4;
  display:flex;
}

.itemax8{
  grid-column-start: 1;
  display:flex;
  
}
  
.sqstate {
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    bottom: 0;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    width:120px;
    font-size: 10px;
    height: 180px;

}
  
.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: #f85103;;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 8px 80px;
    cursor: pointer;
}

.imagestate{
  /*width:80px;*/
  width: 70%;
  height: 70%;

}

.col{
  margin-top:30px;;
  width: 900px;
  border-bottom: solid 1px black;
  padding: 20px;
}

.row{
  margin-top:30px;;
  width: 900px;
  border-bottom: solid 1px black;
  padding: 20px;
}

.tituniv{
  color:black;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.univrow{
  width: 370px;
}

.bigger{
  height: 170px;
}
